body {
  font-family: "Suisse Int'l", Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  color: #5d3a19;
  background-color: #B7B38D;
}

.component-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
}

.beige {
  background-color: #ebe8e5;
}

.beige-text {
  color: #ebe8e5;
}

.component {
  margin: 50px 0px;
  padding: 50px 0px;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 30px;
}

.faded-half {
  opacity: .5;
}

.semi-bold {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

/* a:focus, a:hover {
  color: #ffa500;
  opacity: 0.6;
  transition: 0.3s;
} */