body {
  font-family: "Suisse Int'l", Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  color: #5d3a19;
  background-color: #B7B38D;
}

.component-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.beige {
  background-color: #ebe8e5;
}

.beige-text {
  color: #ebe8e5;
}

.component {
  padding: 450px 0px 200px 0px;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 30px;
}

.align-right {
  text-align:right;
}

.faded-half {
  opacity: .5;
}

.semi-bold {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border: 1px solid #5d3a19;
}

.bottom_aligner {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  width: 0px;
}

/* a:focus, a:hover {
  color: #ffa500;
  opacity: 0.6;
  transition: 0.3s;
} */